<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796605693684-5f8cdpnsuiud135ou6ij4i4qs28o7b03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796605693684-5f8cdpnsuiud135ou6ij4i4qs28o7b03</string>
	<key>API_KEY</key>
	<string>AIzaSyBibqk5sl3oza0vfbijQHq7OciIgfxv9kc</string>
	<key>GCM_SENDER_ID</key>
	<string>796605693684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higherVisibility.FireBase</string>
	<key>PROJECT_ID</key>
	<string>cloudmessage-46bbb</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudmessage-46bbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796605693684:ios:f749351d74c6b201</string>
	<key>DATABASE_URL</key>
	<string>https://cloudmessage-46bbb.firebaseio.com</string>
</dict>
</plist>